<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="text-center">
  <h1>My First Bootstrap Page</h1>
  <p>Resize this responsive page to see the effect!</p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-8">
    <div class="row" id="astro">
        <div class = "box" >
    <h3>hourly ----------------------------------------------------------------------------------------</h3>
        </div>
    </div>
    <div class="row" id="kara">
     <div class="col-sm-7" id="forcast" >
        <div class = "box forcast">
      <h3>10 day forcast</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
    </div>
     <div class="col-sm-5">
            <div class="row air" id="astro">
                <div class = "box">  
                    <p>air quality </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                </div>
      </div>
      
      <div class="row">
      <div class="col-sm-6">
        <div class = "box" id="visibility">
            <p> feels like </p>
         </div>
      </div>
      <div class="col-sm-6">
        <div class = "box" id="visibility">
            <p> humidity </p>
         </div>
      </div>
      </div>
      
      <div class="row">
      <div class="col-sm-6">
        <div class = "box" id="visibility">
            <p> uv index </p>
         </div>
      </div>
      <div class="col-sm-6">
        <div class = "box" id="visibility">
            <p> pressure </p>
         </div>
      </div>
      </div>
      
    </div>
    </div>
    </div>
    <div class="col-sm-4">
    
    <div class="row astro2" id="astro">
        <div class = "box" >
            <h3>astro</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
    </div>
    
    <div class="row">
      <div class="col-sm-6">
        <div class = "box" id="visibility">
           <p> visibility </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class = "box" id="visibility">
            <p> precipation </p>
        </div>
      </div>
      </div>
      
      <div class="row">
      <div class="col-sm-6">
        <div class = "box" id="visibility">
            <p> wind </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class = "box" id="visibility">
            <p> marine </p>
        </div>
      </div>
      </div>
    
    </div>
    
    
    
  </div>
</div>

</body>
</html>
